.notifications-container {
    /* width: 320px; */
    width: 630px;
    height: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex {
    display: flex;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.info-alert {
    border-radius: 0.375rem;
    padding: 1rem;
    /* background-color: rgb(254 242 242); */
    background-color: #E8F5E9;
    /* Vert clair */
}

.info-prompt-heading {
    /* color: #991B1B; */
    color: #4CAF50;
    /* Vert clair */
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
}

.info-prompt-container {
    display: flex;
    flex-direction: column;
    margin-left: 1.25rem;
}

.info-prompt-wrap {
    margin-top: 0.5rem;
    /* color: #B91C1C; */
    color: #4CAF50;
    /* Vert clair */
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.info-prompt-list {
    padding-left: 1.25rem;
    margin-top: 0.25rem;
    list-style-type: disc;
}